.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

top-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 0 10px rgba(var(--primary-black), 0.1);
}

side-bar {
  width: 80px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(var(--primary-black), 0.1);
}

.main-subcontainer {
  width: 90%;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: calc(50% - 80px);
  transform: translateX(calc(-50% + 120px));
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  overflow: hidden;
}
