span[mat-dialog-title] {
  text-align: center;
  background-color: rgba(var(--red), 0.2);
}

mat-dialog-content {
  margin: 25px 0;
  text-align: center;
  color: rgb(var(--primary-black));
}

.public-id {
  font-weight: 500;
}

mat-dialog-actions {
  border-top: 1px solid rgb(var(--primary-black));
}
