.header-container {
  position: sticky;
  top: 0;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  background: rgb(var(--primary-white));
  z-index: 10;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 25px;
  margin-bottom: 15px;
}

toolbar {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.table-paginator-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

table[mat-table] {
  width: 100%;
  margin-top: 50px;
}

th[mat-header-cell] {
  vertical-align: middle;
  background-color: rgb(var(--primary-white));
}

td[mat-cell] {
  vertical-align: middle;
}

tr[mat-row]:hover {
  background-color: rgb(var(--secondary-white));
}

tr[mat-row] {
  cursor: pointer;
}

.public-id {
  font-weight: 500;
}

.empty-response-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(var(--red), 0.2);
  color: rgb(var(--red));
}

.order-accepted {
  background-color: rgba(var(--blue), 0.2);
}

.order-delivered {
  background-color: rgba(var(--green), 0.2);
}

.order-canceled {
  background-color: rgba(var(--red), 0.2);
}

.seen {
  color: rgb(var(--green));
}

.unseen {
  color: rgb(var(--red));
}
