span[mat-dialog-title] {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background-color: rgba(var(--yellow), 0.2);
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  border-top: 1px solid rgb(var(--primary-black));
}
