<span mat-dialog-title>
  Remover Ordem de Produção
</span>
<mat-dialog-content>

  <span>

    Tem certeza que deseja remover permanentemente a Ordem de Produção com <br /> Cód. Identificador
    <span class="public-id">
      {{production.publicId}}
    </span>
    ?

  </span>

</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button (click)="deleteProductionByPublicIdAsync(production.publicId);">
    Ok
  </button>
  <button mat-button mat-dialog-close cdkFocusInitial>
    Cancelar
  </button>

</mat-dialog-actions>
