<span mat-dialog-title>
  Detalhes da Ordem de Venda
</span>
<mat-dialog-content>

  <div class="subtitle-container">

    <span class="material-symbols-rounded">
      info
    </span>
    <span class="subtitle">
      Informações Gerais
    </span>

  </div>
  <div class="content-container">

    <span>
      Cód. Identificador
    </span>
    <span [matTooltip]="tooltips[0]" [matTooltipPosition]="tooltipPosition"
      (click)="clipboardService.copyTextToClipboard(sale.publicId);" class="public-id">
      {{sale.publicId}}
    </span>

  </div>
  <div class="content-container">

    <span>
      Solicitante
    </span>
    <span class="value">
      {{sale.name}}
    </span>

  </div>
  <div class="content-container-mult">

    <div class="content-subcontainer">

      <span>
        Quantidade (kg)
      </span>
      <span class="value">
        {{sale.amount}}
      </span>

    </div>
    <div class="content-subcontainer">

      <span>
        Situação
      </span>
      <span class="value">
        {{sale.status | typeName: ORDER_STATUS_NAMES}}
      </span>

    </div>

  </div>
  <div class="content-container-mult">

    <div class="content-subcontainer">

      <span>
        Data de Abertura
      </span>
      <span class="value">
        {{sale.openDate | date: "dd/MM/yyyy"}}
      </span>

    </div>
    <div *ngIf="sale.closeDate" class="content-subcontainer">

      <span>
        Data de Fechamento
      </span>
      <span class="value">
        {{sale.closeDate | date: "dd/MM/yyyy"}}
      </span>

    </div>

  </div>
  <div class="content-container-mult">

    <div class="content-subcontainer">

      <span>
        Cód. Produto
      </span>
      <span [matTooltip]="tooltips[1]" [matTooltipPosition]="tooltipPosition"
        (click)="dialogService.openGetDialog(dialogService.entityType.Product, sale.product);" class="public-id">
        {{sale.product.publicId}}
      </span>

    </div>
    <div class="content-subcontainer">

      <span>
        Cód. Cliente
      </span>
      <span [matTooltip]="tooltips[1]" [matTooltipPosition]="tooltipPosition"
        (click)="dialogService.openGetDialog(dialogService.entityType.Customer, sale.customer);" class="public-id">
        {{sale.customer.publicId}}
      </span>

    </div>

  </div>
  <div class="subtitle-container">

    <span class="material-symbols-rounded">
      description
    </span>
    <span class="subtitle">
      Notas
    </span>
    <button mat-icon-button *ngIf="allAllowed" [matTooltip]="tooltips[2]" [matTooltipPosition]="tooltipPosition"
      (click)="dialogService.openActionDialog(dialogService.entityType.Sale, sale, 'notes');" class="edit-notes-button">

      <span class="material-symbols-rounded edit-notes-icon">
        edit_square
      </span>

    </button>

  </div>
  <div *ngIf="sale.notes" class="content-container">

    <span class="value pre-formatted-text">
      {{sale.notes}}
    </span>

  </div>

</mat-dialog-content>
<mat-dialog-actions>

  <div>

    <button mat-icon-button *ngIf="!isDisabled && allAllowed" [matTooltip]="tooltips[3]"
      [matTooltipPosition]="tooltipPosition"
      (click)="dialogService.openActionDialog(dialogService.entityType.Sale, sale, 'put');" class="button-edit">

      <span class="material-symbols-rounded">
        edit_square
      </span>

    </button>
    <button mat-icon-button *ngIf="someAllowed" [matTooltip]="tooltips[4]" [matTooltipPosition]="tooltipPosition"
      (click)="dialogService.openActionDialog(dialogService.entityType.Sale, sale, 'delete');" class="button-delete">

      <span class="material-symbols-rounded">
        delete
      </span>

    </button>

  </div>
  <button mat-button mat-dialog-close cdkFocusInitial>
    Fechar
  </button>

</mat-dialog-actions>
