<span mat-dialog-title>
  Detalhes do Usuário
</span>
<mat-dialog-content>

  <div class="subtitle-container">

    <span class="material-symbols-rounded">
      info
    </span>
    <span class="subtitle">
      Informações Gerais
    </span>

  </div>
  <div class="content-container">

    <span>
      Cód. Identificador
    </span>
    <span [matTooltipPosition]="tooltipPosition" [matTooltip]="tooltips[0]"
      (click)="clipboardService.copyTextToClipboard(user.publicId);" class="public-id">
      {{user.publicId}}
    </span>

  </div>
  <div class="content-container">

    <span>
      Nome
    </span>
    <span class="value">
      {{user.name}}
    </span>

  </div>
  <div class="content-container">

    <span>
      Cpf
    </span>
    <span class="value">
      {{user.cpf}}
    </span>

  </div>
  <div class="content-container-mult">

    <div *ngIf="user.phone" class="content-subcontainer">

      <span>
        Telefone
      </span>
      <span class="value">
        {{user.phone}}
      </span>

    </div>
    <div *ngIf="user.whatsApp" class="content-subcontainer">

      <span>
        WhatsApp
      </span>
      <span class="value">
        {{user.whatsApp}}
      </span>

    </div>

  </div>
  <div *ngIf="user.email" class="content-container">

    <span>
      Email
    </span>
    <span class="value">
      {{user.email}}
    </span>

  </div>
  <div class="subtitle-container">

    <span class="material-symbols-rounded">
      home_work
    </span>
    <span class="subtitle">
      Endereço
    </span>

  </div>
  <div class="content-container-mult">

    <div class="content-subcontainer">

      <span>
        Rua
      </span>
      <span class="value">
        {{user.street}}
      </span>

    </div>
    <div class="content-subcontainer">

      <span>
        Número
      </span>
      <span class="value">
        {{user.number}}
      </span>

    </div>

  </div>
  <div class="content-container-mult">

    <div *ngIf="user.complement" class="content-subcontainer">

      <span>
        Complemento
      </span>
      <span class="value">
        {{user.complement}}
      </span>

    </div>
    <div class="content-subcontainer">

      <span>
        Bairro
      </span>
      <span class="value">
        {{user.district}}
      </span>

    </div>

  </div>
  <div class="content-container-mult">

    <div class="content-subcontainer">

      <span>
        Cidade
      </span>
      <span class="value">
        {{user.city}}
      </span>

    </div>
    <div class="content-subcontainer">

      <span>
        Estado
      </span>
      <span class="value">
        {{user.state}}
      </span>

    </div>

  </div>
  <div class="content-container">

    <span>
      Cep
    </span>
    <span class="value">
      {{user.postalCode}}
    </span>

  </div>

</mat-dialog-content>
<mat-dialog-actions>

  <div>

    <button mat-icon-button [matTooltipPosition]="tooltipPosition" [matTooltip]="tooltips[3]"
      (click)="dialogService.openActionDialog(dialogService.entityType.User, user, 'put');" class="button-edit">

      <span class="material-symbols-rounded">
        edit_square
      </span>

    </button>
    <button mat-icon-button [matTooltipPosition]="tooltipPosition" [matTooltip]="tooltips[4]"
      (click)="dialogService.openActionDialog(dialogService.entityType.User, user, 'delete');"
      class="button-delete">

      <span class="material-symbols-rounded">
        delete
      </span>

    </button>

  </div>

  <button mat-button mat-dialog-close cdkFocusInitial>
    Fechar
  </button>

</mat-dialog-actions>
