.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
}

.version {
  font-size: 12px;
  color: rgb(var(--grey));
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 25px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-subcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-label {
  font-size: 12px;
}

event-listener {
  display: none;
}
