mat-form-field {
  width: 500px;
  margin-right: 50px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: auto;
}

.button-add {
  font-variation-settings: "FILL" 1;
  color: rgb(var(--green));
}

.button-download {
  color: rgb(var(--blue));
}

button[disabled] {
  color: rgb(var(--grey));
}
