.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.subtitle-container {
  width: 100%;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(var(--blue), 0.2);
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(var(--grey), 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(var(--primary-black), 0.1);
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.button-container {
  width: 100%;
  padding: 15px;
  border-top: 1px solid rgba(var(--grey), 0.2);
  text-align: center;
}

