.menu-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-subcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-label {
  font-size: 12px;
}
